<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://www.krishan91.com" target="blank">
        Krishan Patel
      </a> <small style="margin-left: 150px">Re-creation for learning purposes - <a href="https://github.com/ng-book/angular2-rxjs-chat">original</a> </small>
    </div>
    <p class="navbar-text navbar-right">
      <button class="btn btn-primary" type="button">
        Messages <span class="badge">{{unreadMessagesCount}}</span>
      </button>
    </p>
  </div>
</nav>